body{
    margin: 0;
    font-family: Open Sans;
}

.headImageSection{
    height: 300px;
}

.mainImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main{
    padding-inline: 16px;
}

.headLine{
    padding-inline: 16px;
}

.menuCard{
    padding-inline: 16px;
}

.dish{
    border: solid rgb(211, 211, 211) 1px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    margin: 16px;
    width: 750px;
    display: flex;
    justify-content: space-around;
}

.dishInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dishIcon{
    height: 32px;
    width: 32px;
    border: solid #e1e1e1 1px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.dishIcon:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149)inset;
}

.price{
    font-weight: 700;
    color: rgb(248, 102, 0);
    text-decoration: underline;
    padding-bottom: 8px;
}

tr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
}

th{
    padding-bottom: 8px;
}

td{
    padding-bottom: 8px;
}

.mainImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.name{
    padding-bottom: 8px;
    padding-inline: 16px;
}

aside{
    top: 112px;
    bottom: 112px;
    padding-inline: 16px;
    background-color: white;
    width: 300px;
    right: 0;
    position: fixed;
    border: solid rgb(211, 211, 211) 1px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    visibility: hidden;
    opacity: 0;
    transition: opcaticty 225ms ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

a{
    color: black !important;
    text-decoration: none;
}

.dishImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav{
    background-color: rgb(248, 102, 0);
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    gap: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.cardLink{
    color: rgb(248, 102, 0) !important;
    background-color: white;
    font-size: 24px;
    border-radius: 15px;
    padding-inline: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.cardLink:hover{
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    border-radius: solid rgb(255, 255, 255) 1px;
}

.content{
    display: flex;
    flex-direction: column;
}

.asideShow{
    visibility: visible;
    opacity: 1;
}

.apendixContent{
    margin: 8px;
}